<!-- <%= @bid.errors.full_messages.join(', ') %>
<div>
<%= form_for [@auction, @bid], remote: true do |f| %>
  <div>
    <%= f.number_field :price %>
  </div>
  <%= f.submit 'Bid' %>
<% end %>
<hr/>
</div> -->

<% if @error_message.present? %>
  <div><%= @error_message %></div>
<% end %>
<div class="col-sm-3">
      <h4>Previous Bids:</h4>
      <% auction_bids.each do |bid| %>
        <div>
          <li> <%= bid.user.first_name %>:  <%= number_to_currency(bid.price) %></li>
        </div>
      <% end %>
</div>
