<%= form_for @auction do |a| %>
  <div>
    <%= a.label :title%>
    <%= a.text_field :title %>
  </div>
  <div>
    <%= a.label :details%>
    <%= a.text_area :details %>
  </div>
  <div>
    <%= a.label :reserve_price%>
    <%= a.number_field :reserve_price %>
  </div>
  <div>
    <%= a.label :end_date%>
    <%= a.date_field :end_date, as: :string, class: 'datepicker' %>
  </div>
  <%= a.submit %>
<% end %>
