<d<div class="row">
  <div class="col-sm-9">
    <h1><%= @auction.title %></h1>
    <h6>Created by <%= @auction.user.first_name %></h6>
    <p>
      <%= @auction.details %>
    </p>
    <% if (current_user == @auction.user) && (@auction.draft?) %>
      <%= link_to "Publish", auction_publishings_path(@auction),
                             class: "btn btn-success btn-sm",
                             method: :post,
                             data: { confirm: "Are you sure you want to publish" } %>
    <% end %>
  </div>
  <div class="col-sm-3">
        <h4>Biddings:</h4>
        <% @auction.bids.reverse.each do |bid| %>
          <div>
            <li> <%= bid.user.first_name %>:  <%= number_to_currency(bid.price) %></li>
          </div>
        <% end %>
  </div>
</div>
<hr>
<div>
  <%= @bid.errors.full_messages.join(", ")  %>
</div>
<%= form_for [@auction, @bid] do |f| %>
  <div class= "form-group">
    <div class="control-label col-sm-2">
      <%= f.label :price %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :price, class: "form-control", placeholder: "bid amount" %>
    </div>
  <%= f.submit %>
<% end %>
