<div class="row">
  <div class="col-sm-9">
    <h1><%= @auction.title %></h1>
    <h4>Created by <%= @auction.user.first_name %></h4>
    <br />
    <p>
      Details: <%= @auction.details %>
    </p>
    <% if (current_user == @auction.user) && (@auction.draft?) %>
      <%= link_to "Publish", auction_publishings_path(@auction),
                             class: "btn btn-success btn-sm",
                             method: :post,
                             data: { confirm: "Are you sure you want to publish" } %>
    <% end %>
<hr>
<%= form_for [@auction, @bid], remote: true do |f| %>
  <div class= "" id="bid-form">
    <div class="control-label col-sm-2">
      <%= f.label :price %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :price, class: "form-control", placeholder: "bid amount" %>
    </div>
  <%= f.submit %>
<% end %>
</div>
</div>
<div class="col-sm-3">
  <%= render "auction", auction: @auction%>
</div>
